<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'main.css')}}">
    <title>Document</title>
</head>
<body>
    <nav>
        <h3>Extra Marital Affair Reasult</h3>
    </nav>
    <div class="table">
        <p>{{pred}}</p>
    </div>
    <img src="{{url_for('static', filename = 'Affair.jpg')}}" alt="" srcset="">
</body>
</html>